/*------------------------------------------------------------------
1. day 2 start
----------------------------------------------------------------*/
.hero-style-2,
.hero-style-3 {
    @media (max-width: 991px) {
        .left-img {
            display: block;
            z-index: 11;
            left: -16%;

            img {
                max-width: 200px;

                @media (max-width: 575px) {
                    max-width: 150px;
                }
            }
        }
    }

    @media (max-width: 575px) {
        .right-bg {
            z-index: 1;
        }
    }

    &:before {
        @media (max-width: 575px) {
            z-index: 11;
        }
    }

    .section-text {
        z-index: 110;
        position: relative;
    }
}

// video-section

.video-section {
    padding-bottom: 10px;

    .video-item-wrap {
        .title {
            margin-bottom: 60px;

            h2 {
                color: #000;
                font-size: 96px;
                font-style: normal;
                font-weight: 700;
                line-height: 103px;
                letter-spacing: -4.8px;
                margin-bottom: 20px;

                @media(max-width:1700px) {
                    font-size: 85px;
                    line-height: 95px;
                }

                @media(max-width:1399px) {
                    font-size: 70px;
                    line-height: 85px;
                }

                @media(max-width:575px) {
                    font-size: 48px;
                    line-height: 56px;
                    letter-spacing: -2.4px;
                    margin-bottom: 15px;
                }
            }

            h3 {
                font-size: 48px;
                font-style: normal;
                font-weight: 500;
                line-height: 58px;
                letter-spacing: -2.4px;
                margin-bottom: 0;

                @media(max-width:1700px) {
                    font-size: 40px;
                    line-height: 48px;
                }

                @media(max-width:575px) {
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 33.513px;
                    letter-spacing: -1.4px;
                }
            }

            h4 {
                color: #7C7C7C;
                font-family: "Helvetica Neue LT Pro";
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: 58px;
                letter-spacing: -1.6px;

                @media(max-width:575px) {
                    font-size: 20px;
                    line-height: 33.513px;
                    letter-spacing: -1px;
                }
            }
        }


        .video-item {
            margin-bottom: 95px;

            @media(max-width:575px) {
                margin-bottom: 60px;
            }

            .video-img {
                position: relative;
                border-radius: 30px;

                img {
                    border-radius: 30px;
                }

                .video-btn {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }

            }

            .video-text {
                padding-top: 27px;

                h3 {
                    color: #0A0A0A;
                    font-family: "Helvetica Neue LT Pro";
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 45px;
                    letter-spacing: -0.64px;
                    text-transform: capitalize;
                }

                h4 {
                    color: #7C7C7C;
                    font-family: "Helvetica Neue LT Pro";
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 38px;
                    letter-spacing: -0.48px;
                }

                .theme-btn-s3 {
                    @media(max-width:575px) {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }
}

// hero-style-3
.hero-style-3 {
    .right-bg {
        width: 52%;

        @media(max-width:575px) {
            width: 100%;
        }
    }
}


// dec-section

.dec-section {
    padding: 140px 0 100px;

    @media(max-width:575px) {
        padding: 60px 0 30px;
    }

    .dec-section-text {
        max-width: 692px;

        h2 {
            font-family: "Helvetica Neue LT Pro";
            font-size: 96px;
            font-style: normal;
            font-weight: 700;
            line-height: 95px;
            letter-spacing: -1.92px;
            margin-bottom: 30px;
            max-width: 410px;

            @media(max-width:1399px) {
                font-size: 70px;
                line-height: 85px;
            }

            @media(max-width:575px) {
                font-size: 48px;
                line-height: 56px;
                letter-spacing: -2.4px;
                margin-bottom: 15px;
                max-width: 200px;
            }
        }
    }

    .des-paragraph {
        p {
            margin-bottom: 40px;
        }
    }
}


// timeline-section

.timeline-section {
    background: #F6F7F9;
    padding: 130px 0 100px;

    @media(max-width:575px) {
        padding: 60px 0 30px;
    }

    .title {

        h2 {
            font-family: Plain;
            font-size: 72px;
            font-style: normal;
            font-weight: 700;
            line-height: 81px;
            letter-spacing: -1.44px;
            text-align: center;
            margin-bottom: 100px;
            word-break: break-all;

            @media(max-width:1199px) {
                font-size: 52px;
                line-height: 56px;
                letter-spacing: -2.4px;
            }

            @media(max-width:575px) {
                font-size: 48px;
                line-height: 56px;
                letter-spacing: -2.4px;
                margin-bottom: 50px;
            }
        }
    }

    .b-img {
        text-align: center;
        padding-top: 80px;

        @media(max-width:575px) {
            padding-top: 30px;
        }

        img {
            border-radius: 50px;
        }
    }
}

.timeline {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: 50%;
        width: 2px;
        height: 70%;
        background: #000;

        @media(max-width:991px) {
            display: none;
        }
    }

    .timeline-item {
        padding: 47px 46px 56px 47px;
        border-radius: 35px;
        border-left: 8px solid #E41E25;
        background: #FFF;
        position: relative;

        @media(max-width:575px) {
            padding: 30px;
            border: 0;
            border-top: 8px solid #E41E25;
        }

        h3 {
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 32.333px;
            margin-bottom: 25px;

            @media(max-width:575px) {
                margin-bottom: 20px;
            }

        }

        p {
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 35px;
            margin-bottom: 0;
        }
    }

    .timeline-item-wrap {
        max-width: 620px;
        position: relative;
        margin-bottom: 30px;

        @media(max-width:991px) {
            margin: 0 auto;
            margin-bottom: 30px;
            text-align: center;
        }

        .date {
            position: absolute;
            left: -100px;
            top: 0;
            border-radius: 20px;
            border: 2px solid #FFF;
            background: #000;
            width: 70px;
            height: 70px;
            line-height: 75px;
            text-align: center;

            @media(max-width:991px) {
                position: relative;
                left: 0;
                margin: 0 auto;
                margin-bottom: 30px;
            }

            span {
                font-family: "Helvetica Neue LT Pro";
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 56.177px;
                letter-spacing: -0.72px;
                color: $white;
            }
        }
    }

    .row {
        &:nth-child(odd) {
            justify-content: flex-end;

            .timeline-item-wrap {
                margin-left: 50px;

                @media(max-width:991px) {
                    margin: 0 auto;
                    margin-bottom: 45px;
                }
            }
        }

        &:nth-child(even) {
            .timeline-item-wrap {
                margin-right: 50px;
                margin-left: auto;

                @media(max-width:991px) {
                    margin: 0 auto;
                    margin-bottom: 45px;
                }

                .date {
                    left: auto;
                    right: -100px;

                    @media(max-width:991px) {
                        right: auto;
                    }

                }
            }
        }
    }
}

// video-area style-3

.video-area.style-3 {

    &:before {
        @media(max-width:575px){
           height: 80%;
        }
    }
    .section-text {
        padding-bottom: 120px;

        @media(max-width:1399px){
            padding-bottom: 40px;
        }

        h1 {
            margin-bottom: 30px;
        }

        p {
            max-width: 563px;
            font-size: 20px;
            font-weight: 400;
            line-height: 35px;
        }
    }
}