/*------------------------------------------------------------------
1. day 2 start
----------------------------------------------------------------*/
.hero-style-2,
.hero-style-3 {
    @media (max-width: 991px) {
        .left-img {
            display: block;
            z-index: 11;
            left: -16%;

            img {
                max-width: 200px;

                @media (max-width: 575px) {
                    max-width: 150px;
                }
            }
        }
    }

    .section-text {
        padding-left: 0;
        padding-bottom: 0;
    }

    @media (max-width: 575px) {
        .right-bg {
            z-index: 1;
        }
    }

    &:before {
        @media (max-width: 575px) {
            z-index: 11;
        }
    }

    .section-text {
        z-index: 110;
        position: relative;
        padding-top: 140px;

        @media (max-width: 991px) {
            padding-top: 57px;
        }

        h1 {
            letter-spacing: -6.4px;
            margin-bottom: 20px;

            @media (max-width: 1500px) {
                margin-bottom: 10px;
                font-size: 100px;
                letter-spacing: -6.4px;
            }

            @media (max-width: 575px) {
                font-size: 72px;
                line-height: 114.053px;
                letter-spacing: -3.6px;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }

    .bideo-bottom-img {
        margin-top: -80px;

        @media (max-width: 1500px) {
            margin-top: -40px;
        }

        @media (max-width: 991px) {
            position: relative;
            z-index: 111;
            margin-top: 0;
        }
    }
}

.hero-style-3 {

    .section-text {
        padding-left: 0;
        padding-bottom: 50px;

        @media (max-width: 991px) {
            padding-bottom: 10px;
        }
    }

    .bideo-bottom-img {
        margin-top: -80px;

        @media (max-width: 1500px) {
            margin-top: -40px;
        }

        @media (max-width: 991px) {
            position: relative;
            z-index: 111;
            margin-top: 0;
        }
    }
}

// video-section

.video-section {
    padding-bottom: 10px;

    .video-item-wrap {
        .title {
            margin-bottom: 60px;

            h2 {
                color: #000;
                font-size: 96px;
                font-style: normal;
                font-weight: 700;
                line-height: 103px;
                letter-spacing: -4.8px;
                margin-bottom: 0px;

                @media(max-width:1700px) {
                    font-size: 85px;
                    line-height: 95px;
                }

                @media(max-width:1399px) {
                    font-size: 70px;
                    line-height: 85px;
                }

                @media(max-width:575px) {
                    font-size: 48px;
                    line-height: 56px;
                    letter-spacing: -2.4px;
                    margin-bottom: 15px;
                }
            }

            h3 {
                color: #0A0A0A;
                font-family: "Helvetica Neue LT Pro";
                font-size: 54px;
                font-style: normal;
                font-weight: 700;
                line-height: 58px;
                letter-spacing: -2.7px;

                @media(max-width:1700px) {
                    font-size: 40px;
                    line-height: 48px;
                }

                @media(max-width:575px) {
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 33.513px;
                    letter-spacing: -1.4px;
                }
            }

            h4 {
                color: #7C7C7C;
                font-family: "Helvetica Neue LT Pro";
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: 58px;
                letter-spacing: -1.6px;

                @media(max-width:575px) {
                    font-size: 20px;
                    line-height: 33.513px;
                    letter-spacing: -1px;
                }
            }
        }


        .video-item {
            margin-bottom: 95px;

            @media(max-width:575px) {
                margin-bottom: 60px;
            }

            .video-img {
                position: relative;
                border-radius: 30px;

                img {
                    border-radius: 30px;
                }

                .video-btn {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }

            }

            .video-text {
                padding-top: 27px;

                h3 {
                    color: #0A0A0A;
                    font-family: "Helvetica Neue LT Pro";
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 45px;
                    letter-spacing: -0.64px;
                    text-transform: capitalize;
                }

                h4 {
                    color: #7C7C7C;
                    font-family: "Helvetica Neue LT Pro";
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 38px;
                    letter-spacing: -0.48px;
                }

                p {
                    margin-bottom: 25px;
                }

                .theme-btn-s3 {
                    @media(max-width:575px) {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }
}

// hero-style-3
.hero-style-3 {
    .right-bg {
        width: 52%;

        @media(max-width:575px) {
            width: 100%;
        }
    }
}


// dec-section

.dec-section {
    padding: 140px 0 100px;

    @media(max-width:575px) {
        padding: 60px 0 30px;
    }

    .dec-section-text {
        max-width: 692px;

        h2 {
            font-family: "Helvetica Neue LT Pro";
            font-size: 96px;
            font-style: normal;
            font-weight: 700;
            line-height: 95px;
            letter-spacing: -1.92px;
            margin-bottom: 30px;
            max-width: 410px;

            @media(max-width:1399px) {
                font-size: 70px;
                line-height: 85px;
            }

            @media(max-width:575px) {
                font-size: 48px;
                line-height: 56px;
                letter-spacing: -2.4px;
                margin-bottom: 15px;
                max-width: 200px;
            }
        }
    }

    .des-paragraph {
        p {
            margin-bottom: 40px;
        }
    }
}


// timeline-section

.timeline-section {
    background: #F6F7F9;
    padding: 130px 0 100px;

    @media(max-width:575px) {
        padding: 60px 0 30px;
    }

    .title {

        h2 {
            font-family: Plain;
            font-size: 72px;
            font-style: normal;
            font-weight: 700;
            line-height: 81px;
            letter-spacing: -1.44px;
            text-align: center;
            margin-bottom: 100px;
            word-break: break-all;

            @media(max-width:1199px) {
                font-size: 52px;
                line-height: 56px;
                letter-spacing: -2.4px;
            }

            @media(max-width:575px) {
                font-size: 48px;
                line-height: 56px;
                letter-spacing: -2.4px;
                margin-bottom: 50px;
            }
        }
    }

    .b-img {
        text-align: center;
        padding-top: 80px;

        @media(max-width:575px) {
            padding-top: 30px;
        }

        img {
            border-radius: 50px;
        }
    }
}

.timeline {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: 50%;
        width: 2px;
        height: 70%;
        background: #000;

        @media(max-width:991px) {
            display: none;
        }
    }

    .timeline-item {
        padding: 47px 46px 56px 47px;
        border-radius: 35px;
        border-left: 8px solid #E41E25;
        background: #FFF;
        position: relative;

        @media(max-width:575px) {
            padding: 30px;
            border: 0;
            border-top: 8px solid #E41E25;
        }

        h3 {
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 32.333px;
            margin-bottom: 25px;

            @media(max-width:575px) {
                margin-bottom: 20px;
            }

        }

        p {
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 35px;
            margin-bottom: 0;
        }
    }

    .timeline-item-wrap {
        max-width: 620px;
        position: relative;
        margin-bottom: 30px;

        @media(max-width:991px) {
            margin: 0 auto;
            margin-bottom: 30px;
            text-align: center;
        }

        .date {
            position: absolute;
            left: -100px;
            top: 0;
            border-radius: 20px;
            border: 2px solid #FFF;
            background: #000;
            width: 70px;
            height: 70px;
            line-height: 75px;
            text-align: center;

            @media(max-width:991px) {
                position: relative;
                left: 0;
                margin: 0 auto;
                margin-bottom: 30px;
            }

            span {
                font-family: "Helvetica Neue LT Pro";
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 56.177px;
                letter-spacing: -0.72px;
                color: $white;
            }
        }
    }

    .row {
        &:nth-child(odd) {
            justify-content: flex-end;

            .timeline-item-wrap {
                margin-left: 50px;

                @media(max-width:991px) {
                    margin: 0 auto;
                    margin-bottom: 45px;
                }
            }
        }

        &:nth-child(even) {
            .timeline-item-wrap {
                margin-right: 50px;
                margin-left: auto;

                @media(max-width:991px) {
                    margin: 0 auto;
                    margin-bottom: 45px;
                }

                .date {
                    left: auto;
                    right: -100px;

                    @media(max-width:991px) {
                        right: auto;
                    }

                }
            }
        }
    }
}

// video-area style-3

.video-area.style-3 {

    &:before {
        @media(max-width:575px) {
            height: 80%;
        }
    }

    .section-text {
        padding-bottom: 120px;
        padding-top: 87px;

        @media(max-width:1399px) {
            padding-bottom: 40px;
        }

        h1 {
            margin-bottom: 30px;
        }

        p {
            max-width: 563px;
            font-size: 20px;
            font-weight: 400;
            line-height: 35px;
        }
    }

    .right-bg {
        filter: grayscale(100%);
    }
}

// shop-hero

.shop-hero {
    background: #222222;
    border-top: 1px solid rgba(224, 224, 224, 0.30);

    .left-img {
        @media(max-width:1600px) {
            left: -60px;
        }

        @media(max-width:991px) {
            display: block;
            z-index: -1;
        }

        img {
            max-width: 200px;

            @media (max-width: 991px) {
                max-width: 160px;
            }

            @media (max-width: 575px) {
                max-width: 120px;
            }
        }
    }

    &:before {
        width: 55%;

        @media(max-width:991px) {
            width: 100%;
            clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
            height: 50%;
        }

        @media(max-width:575px) {
            height: 49%;
        }
    }

    .shop-single-slider {
        max-height: 719px;
        padding-left: 50px;
        padding-top: 70px;

        @media(max-width:1600px) {
            padding-left: 60px;
        }

        @media(max-width:991px) {
            max-height: 100%;
            padding-left: 0;
            margin-top: 20px;
        }

        @media(max-width:575px) {
            padding-top: 0;
        }

        .slider-nav {
            @media(max-width:991px) {
                margin-top: 30px;
            }

            .slick-slide {
                width: 156px;
                height: 225px;
                padding: 20px;
                border: 3px solid #222;
                margin-bottom: 22px;
                cursor: pointer;
                text-align: center;


                @media(max-width:1600px) {
                    padding: 10px;
                    height: 200px;
                }

                @media(max-width:991px) {
                    margin: 0 10px;
                }

                @media(max-width:575px) {
                    height: 146.585px;
                    margin-bottom: 0;
                    margin: 0 10px;
                }

                img {
                    width: 100%;
                    width: 156px;
                    height: 170px;
                    object-fit: contain;

                    @media(max-width:991px) {
                        width: 100%;
                    }

                    @media(max-width:575px) {
                        height: 120.585px;
                    }

                }

                &.slick-current {
                    background: #222;
                }
            }
        }

        .slider-for {
            .slick-track {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
            }

            .slick-slide {
                display: flex;
                height: auto;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
            }

            img {
                @media(max-width:991px) {
                    height: 450px;
                }

                @media(max-width:575px) {
                    height: 350px;
                }
            }
        }
    }

    .shop-text {
        padding-top: 65px;
        max-width: 585px;
        margin: 0 auto;

        @media(max-width:1399px) {
            padding-left: 30px;
        }

        @media(max-width:991px) {
            padding-left: 0;
            margin-top: 50px;
        }

        h1 {
            color: #FEFEFE;
            font-family: "Helvetica Neue";
            font-size: 128px;
            font-style: normal;
            font-weight: 900;
            line-height: 175.779px;
            letter-spacing: -6.4px;
            margin-bottom: 0;

            @media(max-width:1399px) {
                font-size: 90px;
                line-height: 125.779px;
            }

            @media(max-width:575px) {
                font-size: 72px;
                line-height: 95.779px;
            }

        }

        h2 {
            color: #D90214;
            font-family: "Helvetica Neue LT Pro";
            font-size: 42px;
            font-style: normal;
            font-weight: 700;
            line-height: 63px;
            letter-spacing: -2.1px;
            margin-bottom: 20px;

            @media(max-width:575px) {
                font-size: 24px;
                line-height: 40.14px;
                letter-spacing: -1.2px;
            }
        }

        p {
            color: $white;
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(224, 224, 224, 0.30);
        }

        ul.f-list {
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(224, 224, 224, 0.15);

            li {
                color: $white;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 35px;
                position: relative;
                padding-left: 30px;

                @media(max-width:575px) {
                    font-size: 17px;
                    line-height: 24.849px
                }

                &::before {
                    position: absolute;
                    left: 0;
                    top: 0;
                    content: "\e64c";
                    font-family: 'themify';
                }

                &+li {
                    margin-top: 8px;
                }
            }
        }

        span {
            display: flex;
            align-items: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 35px;
            color: $white;
            margin-bottom: 20px;

            @media(max-width:575px) {
                font-size: 17px;
                line-height: 24.849px
            }

            i {
                margin-right: 10px;
            }
        }

        .quantity {
            position: relative;

            input {
                height: 52px;
                padding: 12px 16px;
                background-color: $white;
                text-align: center;
                width: 100%;
                border: 0;
                border-radius: 15px;
                background: #FFF;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 26px;

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }

            .qtybutton {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 24px;
                width: 40px;
                text-align: center;
                color: $text-color;
                height: 52px;
                line-height: 43px;
                cursor: pointer;

                &.inc {
                    left: auto;
                    right: 0;
                }
            }
        }

        .theme-btn-s2 {
            width: 100%;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 26px;
            text-transform: uppercase;
            text-align: center;
            margin-top: 20px;
            background: $white;

            &:hover {
                background: $white;
                color: $dark-gray;
            }
        }


        .action {
            ul {
                display: flex;
                justify-content: space-between;


                @media(max-width:575px) {
                    padding-bottom: 30px;
                }

                li {
                    padding: 25px 0;

                    a {
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 28px;
                        letter-spacing: -0.4px;
                        color: $white;

                        @media(max-width:575px) {
                            font-size: 17px;
                            line-height: 24.849px
                        }

                        i {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}


// details-section

.details-section {

    background: #F6F7F9;

    .tab-area {

        @media(max-width:991px) {
            overflow-x: scroll;
        }
    }

    .nav {
        border: 0;
        margin-bottom: 20px;

        @media(max-width:991px) {
            width: 900px;
        }

        @media(max-width:575px) {
            width: 800px;
        }

        li {
            color: #000;
            font-size: 42px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;

            @media(max-width:1700px) {
                font-size: 32px;
            }

            @media(max-width:1399px) {
                font-size: 22px;
            }

            &+li {
                padding-left: 80px;

                @media(max-width:575px) {
                    padding-left: 30px;
                }
            }

            a {
                border: 0;
                color: $black;
                padding: 0;
                background: none;

                &.active {
                    color: $theme-primary-color;
                    background: none;
                }
            }
        }
    }

    .tab-content {
        margin-top: 60px;

        @media(max-width:575px) {
            margin-top: 20px;
        }
    }

    .decription {
        max-width: 650px;

        ul {
            li {
                display: flex;
                color: #000;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 30px;
                justify-content: space-between;
                text-transform: uppercase;

                @media(max-width:1399px) {
                    font-size: 16px;
                    line-height: 22.639px;
                }


                &+li {
                    margin-top: 30px;
                }

                strong {
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 30px;
                    flex-basis: 50%;
                    text-transform: capitalize;

                    @media(max-width:1399px) {
                        font-size: 20px;
                        line-height: 22.639px;
                    }

                    @media(max-width:575px) {
                        flex-basis: 55%;
                    }

                }
            }
        }
    }
}

.section-bg {
    background: #F6F7F9;
}

// product-area 

.product-area {
    overflow: hidden;
    padding: 120px 0;

    @media(max-width:991px) {
        padding-bottom: 60px;
    }

    @media(max-width:767px) {
        padding-bottom: 50px;
    }

    .title {
        margin-bottom: 50px;

        @media(max-width:991px) {
            text-align: center;
        }

        h2 {
            font-size: 96px;
            font-style: normal;
            font-weight: 700;
            line-height: 103px;
            letter-spacing: -4.8px;

            @media(max-width:1700px) {
                font-size: 85px;
                line-height: 95px;
            }

            @media(max-width:1399px) {
                font-size: 70px;
                line-height: 85px;
            }

            @media(max-width:575px) {
                font-size: 48px;
                line-height: 56px;
                letter-spacing: -2.4px;
                margin-bottom: 15px;
            }
        }
    }

    .owl-nav {
        display: block;
        text-align: center;
        bottom: auto;
        top: -130px;
        position: absolute;
        right: 0;

        @media(max-width:991px) {
            right: auto;
            top: auto;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }


        button {
            width: 60px;
            height: 60px;
            border-radius: 15px;
            border: 2px solid #000;
            margin: 0 5px;
            color: $black;
            transition: all .3s;
            background: transparent;
            font-size: 20px;

            &:hover {
                background: $theme-primary-color;
                color: $white;
                border-color: $theme-primary-color;
            }
        }
    }

}

.product-wrap {

    .product-active {
        @media(max-width:991px) {
            padding-bottom: 60px;
        }
    }


    .product-item {

        @media(max-width:991px) {
            margin-bottom: 30px;
        }

        .product-img {
            position: relative;
            overflow: hidden;
            border-radius: 25px;

            &:before {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                content: "";
                background: linear-gradient(133deg, rgba(217, 2, 20, 0.60) 0%, rgba(0, 0, 0, 0.00) 100%);
                z-index: 1;
                opacity: 0;
                visibility: hidden;
                transition: all .3s;
            }

            img {
                transform: scale(1);
                transition: all .3s;
                width: 100%;
                border-radius: 25px;
            }

            .product-cart {
                position: absolute;
                left: 50%;
                top: -15%;
                transform: translate(-50%, -50%);
                transition: all .6s;
                z-index: 11;
                min-width: 130px;

                .theme-btn-s2 {
                    padding: 10px 20px 10px;
                    font-size: 16px;
                }

            }
        }

        &:hover {
            .product-img {
                img {
                    transform: scale(1.2);
                }

                .product-cart {
                    top: 50%;
                }

                &::before {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .product-text {
            padding: 10px;

            h3 {
                margin-top: 5px;

                a {
                    color: #000;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 40.95px;
                    letter-spacing: -0.585px;
                    font-family: "Helvetica Neue LT Pro";

                    &:hover {
                        color: $theme-primary-color;
                    }
                }
            }

            ul {
                display: flex;

                li {
                    color: #E41E25;
                    font-family: "Helvetica Neue LT Pro";
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 32.175px;

                    &+li {
                        margin-left: 10px;
                        color: #A7A7A7;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 32.175px;
                    }
                }
            }
        }
    }
}


/*------------------------------------------------------------------
2. privacy-page
----------------------------------------------------------------*/

.privacy-page {
    .privacy-hero {
        .section-text {
            padding-bottom: 90px;
            padding-top: 90px;


            @media(max-width:767px) {
                padding-bottom: 50px;
            }
        }
    }

    .pulldog-terms-section {
        h4 {
            font-size: 30px;
            margin-bottom: 30px;
        }

        p {
            font-size: 18px;
        }

        .pulldog-terms-wrap {
            .pulldog-terms-img {
                img {
                    width: 100%;
                }
            }

            .pulldog-terms-text {
                padding-top: 30px;

                h2 {
                    font-size: 40px;
                    font-weight: 700;
                    margin-bottom: 20px;

                    @media(max-width:991px) {
                        font-size: 30px;
                    }

                    @media(max-width:767px) {
                        font-size: 25px;
                    }
                }

                ul {
                    list-style: none;
                    margin-top: 20px;
                    margin-bottom: 40px;

                    li {
                        padding: 10px;
                        position: relative;
                        padding-left: 20px;
                        font-size: 17px;

                        &:before {
                            position: absolute;
                            left: 0;
                            top: 50%;
                            width: 8px;
                            height: 8px;
                            background: $theme-primary-color;
                            content: "";
                            border-radius: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }

                .t-sub {
                    padding: 20px 0;

                    .pulldog-p-details-img {
                        margin-bottom: 20px;
                    }
                }
            }
        }

        .pulldog-faq-section {
            margin-top: 30px;

            .accordion-item {
                border: 0;
                border: 1px solid #e1e1e1;
                padding: 5px 20px;
                margin-bottom: 20px;


                .accordion-body {
                    padding-left: 0;
                    padding-right: 0;
                }

                button {
                    padding: 20px;
                    border: 0;
                    border-radius: 0;
                    padding-left: 0;
                    padding-right: 0;
                    font-size: 18px;
                    color: $heading-color;
                    text-align: left;
                    font-family: $base-font;

                    &::after {
                        background: none;
                        font-family: "themify";
                        content: "\e622";
                        font-size: 15px;
                        transform: rotate(0deg);
                        font-weight: 700;
                    }


                    &.collapsed {
                        color: #373b3e;

                        &::after {
                            content: "\e61a";
                        }
                    }

                    &:focus {
                        box-shadow: none;
                        outline: none;
                        border-color: #e1e1e1;

                    }


                }

                .accordion-collapse {
                    border: 0;
                }
            }

            .accordion-button {
                background: transparent;
            }
        }
    }
}

// cta-area style-4
.cta-area.style-4 {
    .section-text {
        .text-inner h1 {
            font-family: "Helvetica Neue LT Pro";
            font-weight: 700;
            margin-bottom: 15px;
        }
    }
}